<% layout('../layouts/main') %>

<h1><%~ include('../components/icon', { icon: 'dice', size: 'lg' }) %> Systems</h1>
<p>You can find adventures for the following systems.</p>
<section class="grid">
	<% it.data.forEach(card => { %>
		<%~ include('../components/card', {
			card,
		}) %>
	<% }) %>
</section>
