/*
--screen-xsmall:  0em;
--screen-small:  25em;
--screen-medium: 36em;
--screen-large:  55em;
--screen-xlarge: 75em;
*/

.sm, .md, .lg, .xl {
	display: none;
}

@media screen and (min-width: 25em) {
	.sm {
		display: initial;
	}
}
@media screen and (min-width: 36em) {
	.md {
		display: initial;
	}
}
@media screen and (min-width: 55em) {
	.lg {
		display: initial;
	}
}
@media screen and (min-width: 75em) {
	.xl {
		display: initial;
	}
}

/* Medium */
@media screen and (min-width: 36em) {
	.container {
		display: grid;
		grid-template-columns: var(--column-width) 3fr;
		gap: var(--spacing-4);
	}

	header#site-header {
		padding: 0;
		display: grid;
		gap: var(--spacing-2);
		grid-template-columns: var(--column-width) 3fr;
	}

	#menu {
		display: none;
	}

	#logo a {
		padding: var(--spacing-2);
	}

	search {
		padding: var(--spacing-2) 0;

		input {
			display: inline-block;
		}
	}

	nav#primary {
		z-index: 0;
		position: static;
		display: block;
		transform: translateX(0);

		&.active, &.inactive {
			transform: translateX(0);
		}
	}

	main {
		padding: 0;
		margin-right: var(--spacing-4);
	}


}

/* Large */
@media screen and (min-width: 55em) {
	.grid {
		grid-template-columns: repeat(2, 1fr);
	}

	main {
		margin-right: var(--spacing-header);
	}
}

/* X-Large */
@media screen and (min-width: 75em) {
	.grid {
		grid-template-columns: repeat(3, 1fr);
	}
}
