
@import url(reset.css);
@import url(debug.css);
@import url(common.css);

/* Primary grid container with a small left-hand column and a large central column */
.container {
	display: block;
}

/* Evenly space grid */
.grid {
	display: grid;
	gap: var(--spacing-2);
	grid-template-rows: auto;
	max-width: var(--content-width);
}

/* Summary cards */
.card {
	display: grid;
	grid-template-rows: 2rem 1fr 1.2rem;
	border: 1px solid var(--tertiary-border);
	box-shadow: var(--shadow-md);
	padding: var(--spacing-4);
	background-color: var(--tertiary-bg);
	color: var(--tertiary-text);
	border-radius: var(--spacing-2);

	h3 {
		font-size: 1.4rem;
		margin-bottom: var(--spacing-2);

		a {
			color: var(--tertiary-text);
		}
	}

	.card-footer {
		text-align: right;
	}
}

/* Site header */
header#site-header {
	background-color: var(--header-bg);
	border-bottom: 2px solid var(--header-border);
	box-shadow: var(--shadow-lg);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	display: flex;
	padding: var(--spacing-2);

	#logo {
		flex-grow: 2;

		a {
			display: inline-block;
			font-family: var(--font-heading);
			font-weight: bold;
			font-size: 1.5rem;
			color: var(--header-text);

			&:hover {
				color: var(--header-text-hover);
				text-decoration: none;
			}
		}
	}
}

/* Menu navigation */
#menu {
	margin: var(--spacing-1) var(--spacing-2);
	cursor: pointer;
}

/* Global search */
search {
	position: relative;
	top: var(--spacing-1);
	color: var(--header-text);

	input {
		display: none;
		padding: var(--spacing-1) var(--spacing-2);
		max-width: 30rem;
		width: 90%;
		background-color: var(--tertiary-bg);
		color: var(--tertiary-text);
		border: 1px solid var(--tertiary-border);
		border-radius: 1rem;
		font-size: 1.1rem;

		&:focus {
			outline: 2px solid var(--tertiary-bg-hover);
		}
	}

	menu {
		position: absolute;
		background-color: var(--tertiary-bg);
		color: var(--tertiary-text);
		border: 1px solid var(--tertiary-border);
		box-shadow: var(--shadow-lg);
		border-radius: 0.5rem;
		overflow: hidden;

		a {
			display: block;
			padding: var(--spacing-2) var(--spacing-4);
			color: var(--tertiary-text);

			&:hover {
				color: var(--tertiary-text-hover);
				background-color: var(--tertiary-bg-hover);
				text-decoration: none;
			}
		}
	}
}

/* Primary content area */
#content {
	height: 100vh;
}

/* Primary nav */
nav {
	padding: var(--spacing-header) var(--spacing-2) 0;
	background-color: var(--secondary-bg);
	display: none;

	h1 {
		color: var(--secondary-text-hover);
		font-size: 1.1rem;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: var(--spacing-2);
		margin-left: var(--spacing-2);

		.icon {
			position: relative;
			top: -2px;
		}
	}

	menu {
		margin-bottom: var(--spacing-8);
	}

	a:not(.link) {
		display: block;
		padding: var(--spacing-2);
		color: var(--secondary-text);
		transition: color .4s, background-color .4s;
		
		&:hover {
			color: var(--secondary-text-hover);
			background-color: var(--secondary-bg-hover);
			text-decoration: none;
		}
	}

	li {
		margin: var(--spacing-1) 0;

		&.more {
			padding: var(--spacing-2);
		}

		&.active {
			border-left: 4px solid var(--link-text-hover);
			background-color: var(--secondary-bg-hover);

			a:not(.link) {
				background-color: var(--secondary-bg-hover);
			}
		}
	}
}

/* Main content */
main {
	margin-top: var(--spacing-header);
	padding: var(--spacing-2);

	header {
		h2 {
			margin-top: 0;
			margin-bottom: var(--spacing-4);
		}
	}

	h1 {
		font-size: 2rem;
		margin-bottom: var(--spacing-4);
	}

	h2 {
		font-size: 1.5rem;
		margin-top: var(--spacing-8);
		margin-bottom: var(--spacing-3);
	}
}
