<% layout('../layouts/main') %>

<h1><%~ include('../components/icon', { icon: 'group', size: 'lg' }) %> Campaigns</h1>

<section class="grid">
	<% it.data.forEach(card => { %>
		<%~ include('../components/card', {
			card,
		}) %>
	<% }) %>
</section>
